<!DOCTYPE html>
<html lang="en">
<head>
    <title>About</title>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xml" href="../assets/favicon.svg">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/39c8bc8c71.js"></script>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/about.css">
</head>

<body>
<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li><a href="/about">About</a></li>
            <li><a href="/wearable">Wearable</a></li>
            <li><a href="/food">Food</a></li>
            <li><a href="/blogs">Blogs</a></li>
            <li><a href="/upload">Upload a blog</a></li>
            <li><a href="/user_uploads">User Upload</a></li>
            <li><a href="/favourites">Favourites</a></li>
            <li><a href="/signout">Sign Out</a></li>
        </ul>
    </div>
    <!--put everything in newww -->
    <div id="page-content-wrapper">
        <nav class="topnav"><div class="nav-wrapper">
            <ul>
                <li><a id="menu-toggle"><i class="fas fa-align-justify"></i></a></li>
                <li><h1>TrendGetter</h1></li>
            </ul>
        </div>
        </nav>

        <div class="newww">
            <div class="wrap">
                <div class="type-wrap">
                    <h1 style="text-align: center"><span id="typed" style="white-space:pre;"></span></h1>
                </div><br/><br/>
                <p>TrendGetter is your feed to get the updates in the Fashion and Food World, TrendGetter will fetch latest
                    and the most trending apparels like watches, Shirts, Women wear, Menswear and Shoes for our users.
                    The Users can save the items as their favorites for future reference. <br/><br/>The User can also search for
                    all the items listed on TrendGetter if they wish to. We have also added various trending cuisines to
                    the user's feed and based on the user's interest we'll be showing them images of Italian, French or
                    Japanese cuisines, the user can add these to favorites as well. <br/><br/>Basically we have tried to make a platform
                    in the lines of pinterest which is the best interest based image feed website in the blogging domain.
                <br/><Br/></p>
            </div>
        </div>
    </div>
    <div id="particles-js"></div>
</div>

<script type="text/javascript" src="/js/home.js"></script>
<script type="text/javascript" src="/js/about.js"></script>
<script src="/node_modules/particles.js/particles.js"></script>
<script src="/node_modules/particles.js/demo/js/app.js"></script>
</body>
</html>
