<!DOCTYPE html>
<html lang="en">
<head>
    <title>Blogs</title>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xml" href="../assets/favicon.svg">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/39c8bc8c71.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/main.css">

</head>

<body>

<div id="particles-js">
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li><a href="/about">About</a></li>
                <li><a href="/wearable">Wearable</a></li>
                <li><a href="/food">Food</a></li>
                <li><a href="/blogs">Blogs</a></li>
                <li><a href="/upload">Upload a blog</a></li>
                <li><a href="/user_uploads">User Upload</a></li>
                <li><a href="/favourites">Favourites</a></li>
                <li><a href="/signout">Sign Out</a></li>
            </ul>
        </div>
        <!--put everything in newww -->
        <div id="page-content-wrapper">
            <nav class="topnav">
                <div class="nav-wrapper">
                    <ul>
                        <li><a id="menu-toggle"><i class="fas fa-align-justify"></i></a></li>
                        <li><h1>TrendGetter</h1></li>
                    </ul>
                </div>
            </nav>
            <div class="newww">
                <h1 style="color: white; text-align: center;font-size: 50px">BLOGS</h1>
                <div class="cards">
                    <div class="card">
                        <div class="card__image-holder">
                            <img class="card__image" src="assets\images\black.jfif" width="300" height="225" alt="wave" />
                        </div>
                        <div class="card-title">
                            <a href="#" class="toggle-info btn">
                                <span class="left"></span>
                                <span class="right"></span>
                            </a>
                            <h2>
                                10 Black Separates
                                <small>That Go Beyond the Basics</small>
                            </h2>
                        </div>
                        <div class="card-flap flap1">
                            <div class="card-description">
                                They say, “one is never over or underdressed in black.” It’s that unassumingly stylish colour that you know will work when all else fails.
                            </div>
                            <div class="card-flap flap2">
                                <div class="card-actions">
                                    <a href="https://www.faballey.com/blog/black-separates-that-go-beyond-the-basics" class="btn" target="_blank">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card__image-holder">
                            <img class="card__image" src="assets\images\101.jpg" width="300" height="225" alt="beach" />
                        </div>
                        <div class="card-title">
                            <a href="#" class="toggle-info btn">
                                <span class="left"></span>
                                <span class="right"></span>
                            </a>
                            <h2>
                                Denny Hamlin Reveals:
                                <small>The Air Jordan 1 Racer</small>
                            </h2>
                        </div>
                        <div class="card-flap flap1">
                            <div class="card-description">
                                This past weekend, Denny Hamlin — three-time Daytona 500 winner and one half of 23XI Racing — revealed his third Jordan Brand PE: the Air Jordan 1 Racer.
                            </div>
                            <div class="card-flap flap2">
                                <div class="card-actions">
                                    <a href="https://sneakernews.com/2021/05/17/denny-hamlin-air-jordan-1-racer-pe-photos/" class="btn">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card__image-holder">
                            <img class="card__image" src="assets\images\102.jpg" width="300" height="225" alt="mountain" />
                        </div>
                        <div class="card-title">
                            <a href="#" class="toggle-info btn">
                                <span class="left"></span>
                                <span class="right"></span>
                            </a>
                            <h2>
                                T-Shirt Color Palette:
                                <small>Shades of Blue</small>
                            </h2>
                        </div>
                        <div class="card-flap flap1">
                            <div class="card-description">
                                A list of some of our most popular blue t-shirt designs.There are a lot of t-shirt options to pick from out there. Like, a lot a lot.
                            </div>
                            <div class="card-flap flap2">
                                <div class="card-actions">
                                    <a href="https://www.realthread.com/blog/t-shirt-color-palette-shades-of-blue" class="btn">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card__image-holder">
                            <img class="card__image" src="assets\images\103.png" width="300" height="225" alt="field" />
                        </div>
                        <div class="card-title">
                            <a href="#" class="toggle-info btn">
                                <span class="left"></span>
                                <span class="right"></span>
                            </a>
                            <h2>
                                Salty Blueberry
                                <small>+ Ginger Margarita</small>
                            </h2>
                        </div>
                        <div class="card-flap flap1">
                            <div class="card-description">
                                Salty Blueberry + Ginger Margarita by Emily Schultz. Made with Cointreau, muddled blueberry, ginger simple syrup, and blanco tequila.
                            </div>
                            <div class="card-flap flap2">
                                <div class="card-actions">
                                    <a href="https://www.bonappetit.com/recipe/salty-blueberry-ginger-margarita" class="btn">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card__image-holder">
                            <img class="card__image" src="assets\images\104.jpg" width="300" height="225" alt="water" />
                        </div>
                        <div class="card-title">
                            <a href="#" class="toggle-info btn">
                                <span class="left"></span>
                                <span class="right"></span>
                            </a>
                            <h2>
                                Castella Pudding
                                <small>Cake (カステラプリン)</small>
                            </h2>
                        </div>
                        <div class="card-flap flap1">
                            <div class="card-description">
                                Delicate and cute little Castella Pudding Cakes are the perfect hybrid of two Japanese sweets: castella sponge cake and custard pudding.
                            </div>
                            <div class="card-flap flap2">
                                <div class="card-actions">
                                    <a href="https://www.chopstickchronicles.com/castella-pudding/" class="btn">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card__image-holder">
                            <img class="card__image" src="assets\images\105.jpg" width="300" height="225" alt="river" />
                        </div>
                        <div class="card-title">
                            <a href="#" class="toggle-info btn">
                                <span class="left"></span>
                                <span class="right"></span>
                            </a>
                            <h2>
                                Authentic Mexican
                                <small>Horchata (Rice Drink)</small>
                            </h2>
                        </div>
                        <div class="card-flap flap1">
                            <div class="card-description">
                                This grid is an attempt to make something nice that works on touch devices. Ignoring hover states when they're not available etc.
                            </div>
                            <div class="card-flap flap2">
                                <div class="card-actions">
                                    <a href="https://www.mexicoinmykitchen.com/horchata-recipe/" class="btn">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card__image-holder">
                            <img class="card__image" src="assets\images\106.jpg" width="300" height="225" alt="kite" />
                        </div>
                        <div class="card-title">
                            <a href="#" class="toggle-info btn">
                                <span class="left"></span>
                                <span class="right"></span>
                            </a>
                            <h2>
                                Yellowstone Joins
                                <small>The National Parks Foundation</small>
                            </h2>
                        </div>
                        <div class="card-flap flap1">
                            <div class="card-description">
                                The National Parks Foundation has already commemorated three of its destinations on the adidas ZX series.
                            </div>
                            <div class="card-flap flap2">
                                <div class="card-actions">
                                    <a href="https://sneakernews.com/2021/05/17/adidas-zx-8000-yellowstone-fy5168/" class="btn">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card__image-holder">
                            <img class="card__image" src="assets\images\107.jpg" width="300" height="225" alt="underwater" />
                        </div>
                        <div class="card-title">
                            <a href="#" class="toggle-info btn">
                                <span class="left"></span>
                                <span class="right"></span>
                            </a>
                            <h2>
                                Hands-On
                                <small>Hublot Big Bang Unico</small>
                            </h2>
                        </div>
                        <div class="card-flap flap1">
                            <div class="card-description">
                                As we’ve seen before with other Big Bang collab references, the SORAI edition ships with a pair of pronged straps that can be easily swapped out at a push of the rectangular black button at 12 and 6:00.
                            </div>
                            <div class="card-flap flap2">
                                <div class="card-actions">
                                    <a href="https://www.ablogtowatch.com/hublot-big-bang-sorai-green-ceramic-hands-on" class="btn">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card__image-holder">
                            <img class="card__image" src="assets\images\108.jpg" width="300" height="225" alt="desert" />
                        </div>
                        <div class="card-title">
                            <a href="#" class="toggle-info btn">
                                <span class="left"></span>
                                <span class="right"></span>
                            </a>
                            <h2>
                                Maurice Lacroix
                                <small>Aikon Venturer GMT</small>
                            </h2>
                        </div>
                        <div class="card-flap flap1">
                            <div class="card-description">
                                If you are in the mood for a sporty GMT watch with a lot of character and a decent price, then the still-fresh Swiss Maurice Lacroix Aikon Venturer GMT 43mm should be something to take a close look at.
                            </div>
                            <div class="card-flap flap2">
                                <div class="card-actions">
                                    <a href="https://www.ablogtowatch.com/watch-review-maurice-lacroix-aikon-venturer-gmt/" class="btn">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--------------------------------------------------------------------------->


<!----------------------------------------------------------------------------->

<script src="../node_modules/particles.js/particles.js"></script>
<script src="../node_modules/particles.js/demo/js/app.js"></script>
<script type="text/javascript" src="../js/blog.js"></script>
<script type="text/javascript" src="../js/home.js"></script>
<script type="text/javascript" src="../js/script.js"></script>
</body>
</html>
