<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User_Uploads</title>
    <link rel="icon" type="image/svg+xml" href="../assets/favicon.svg">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/39c8bc8c71.js"></script>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/userupload.css">
</head>
<body>
<div id="particles-js">
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li><a href="/about">About</a></li>
                <li><a href="/wearable">Wearable</a></li>
                <li><a href="/food">Food</a></li>
                <li><a href="/blogs">Blogs</a></li>
                <li><a href="/upload">Upload a blog</a></li>
                <li><a href="/user_uploads">User Upload</a></li>
                <li><a href="/favourites">Favourites</a></li>
                <li><a href="/signout">Sign Out</a></li>
            </ul>
        </div>
        <!--put everything in newww -->
        <div id="page-content-wrapper">
            <nav class="topnav"><div class="nav-wrapper">
                <ul>
                    <li><a id="menu-toggle"><i class="fas fa-align-justify"></i></a></li>
                    <li><h1>TrendGetter</h1></li>
                </ul>
            </div>
            </nav>
            <div class="newww">
                <h1 style="color: white; text-align: center;font-size: 50px;margin-bottom: 30px">USER UPLOADS</h1>
                <div class="users"></div>
            </div>
        </div>
    </div>
</div>
<script>
    fetch('http://localhost:3000/user-blogs')
        .then(response => response.text())
        .then(result => {
            var blogs = JSON.parse(result);
            appendData(blogs)
        })
        .catch(error => console.log('error', error));
    function appendData(blogs) {
        for(x in blogs) {
            let card = `
                <div class="card">
                    <div class="card_img">
                        <img alt="time exceeded. please reload page" target="_blank" class="card_image" src="uploads/${blogs[x].file}" width="400" onclick="window.open(this.src, '_blank');"/>
                    </div>
                    <div class="card_title">
                        <h2>${blogs[x].text}</h2>
                    </div>
                    <div class="card_content">
                            ${blogs[x].textarea}
                    </div>
                </div>
                `;
            $('div.users').append(card);
        }
    }
</script>
<script type="text/javascript" src="/js/home.js"></script>
<script src="/node_modules/particles.js/particles.js"></script>
<script src="/node_modules/particles.js/demo/js/app.js"></script>
</body>
</html>